<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-12">
      <h4 class="mb-1 mt-0">Actividad en MasterDent24</h4>
    </div>
   
  </div>
 
  <div class="row">
    <div class="col-xl-3">
      <div class="card">
        <div class="card-body p-0">
          <h5 class="card-title header-title border-bottom p-3 mb-0" *ngIf="_uw.totalPatients!==undefined && _uw.totalDentists!==undefined">Resumen</h5>
          <!-- Overview data -->
          <app-overview value='0' icon='activity' title="Total de visitantes" classNames="px-3 py-4">
          </app-overview>
          <app-overview value='{{_uw.totalPatients}}' icon='users' title="Pacientes registrados" classNames="px-3 py-4">
          </app-overview>
          <app-overview value='{{newdentists}}' icon='user-plus' title="Solicitudes de cuenta" classNames="px-3 py-4" ></app-overview>
        </div>
      </div>
    </div>
    <div class="col-xl-9">
      <div class="card">
        <div class="card-body pb-0">
   
          <h5 class="card-title header-title mb-0">Visitas</h5>

          <div class="mt-3">
            <apx-chart [series]="revenueAreaChart.series" [chart]="revenueAreaChart.chart"
              [tooltip]="revenueAreaChart.tooltip" [colors]="revenueAreaChart.colors"
              [dataLabels]="revenueAreaChart.dataLabels" [stroke]="revenueAreaChart.stroke" [grid]="revenueAreaChart.grid"
              [fill]="revenueAreaChart.fill" [yaxis]="revenueAreaChart.yaxis" [xaxis]="revenueAreaChart.xaxis">
            </apx-chart>
    
        </div>
      </div>
    </div>

  </div>

</div>